<%include file="HEADER.tmpl"/>
<div class="alert alert-danger">
<h4>${message}</h4>
<br><br>
Please go back and try again. If this keeps happening, <a href="https://github.com/IUmooV2/MooSight/issues" target="_blank" rel="noopener noreferrer">report the problem to the MooSight project</a>.
</div>
<%include file="FOOTER.tmpl"/>
